{cover_enabled, true}.
{erl_opts, [
  debug_info
  %fail_on_warning
]}.

{deps, [
  {lager,         ".*", {git, "https://github.com/basho/lager.git",""}},
  {amqp_client,   ".*", {git, "https://github.com/jbrisbin/amqp_client.git",  {tag, "rabbitmq_2.7.0"}}},
  {erlymock, ".*" , {git, "https://github.com/nialscorva/erlymock.git",""}}
  
]}.
